<div class="row">
  <div class="col-12">
    <article id="cv">
      <h2>Experiencia Laboral</h2>
      <div *ngFor="let ex of exes">
        <h3><strong>{{ ex.site }}</strong></h3>
        <p>{{ getMonthName(ex.startMonth) }} {{ ex.startYear }} - {{ getMonthName(ex.endMonth) }} {{ ex.endYear }}</p>
        <ul>
          <li *ngFor="let detail of ex.details"><i>{{ detail }}</i></li>
        </ul>
        <br>
      </div>
    </article>
  </div>
  
  <div class="col-12">
    <article id="cv">
      <h2>Datos académicos</h2>
      <div *ngFor="let estudio of estudios">
        <h3><strong>{{estudio.carrer}}</strong></h3>
        <p>{{estudio.location}} || {{estudio.startYear}} - {{estudio.endYear}}</p>
        <br>
      </div>
    </article>
  </div>

  <div class="col-12">
    <article id="cv">
      <h2>Cursos</h2>
      <div *ngFor="let curso of cursos; let i = index">
        <h3><strong>{{curso.name}}</strong></h3>
        <p>Duracion: <i>{{curso.hours}} horas </i> ({{curso.estado}})</p>
        <button class="btn btn-success mb-5" (click)="toggleTitulo(i)" *ngIf="curso.title">Mostrar titulo</button>
        <img src="{{url+'get-image-cu/'+curso.title}}" *ngIf="tituloOpenIndex.includes(i)" class="cutit">

        <br>
      </div>
    </article>
  </div>
</div>


